@media print {
    /*
    @page {
    size: 210mm 297mm;
    margin: 10mm;
}
    */
    body {
        width: 1200px!important;
    }
    div[class|=col-] {
        float: left!important;
    }
    a[href]:after {
        content: ""!important;
    }
    .show-web-only {
        display: none !important;
    }
    .show-print-only {
        display: block !important;
    }
    .skills-container {
        page-break-after: always;
    }
}
