* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* -------------------------------------
General styles */

body {
    font-family: sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

header,
section,
footer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.about-container,
.skills-container,
.projects-container,
footer {
    margin-top: 3rem;
    clear: both;
}

h3 {
    font-size: 30px;
    margin-bottom: 2rem;
    color: blue;
    font-family: fantasy;
}

h4 {
    font-size: 20px;
    margin-bottom: 1rem;
    color: blue;
    font-family: fantasy;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* -------------------------------------
Header styles (Main Module)
*/

header h1 {
    display: inline-block;
    width: auto;
    font-family: fantasy;
    color: blue;
    font-size: 2rem;
    vertical-align: middle;
    padding-top: 0.5rem;
}

header nav {
    display: inline-block;
    float: right;
    width: auto;
    vertical-align: middle;
}

header nav ul {
    display: block;
    width: auto;
    margin-top: 2rem;
}

header nav ul li {
    display: inline-block;
    padding: 0.5rem;
    width: auto;
}

header nav ul li a {
    color: blue;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #FF7326;
}


/* -------------------------------------
Content styles (Main Module)
*/

.hero-container {
    background: rgba(0, 0, 0, 0) url("./images/hero-image.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*    background-size: contain;*/
    /*
    margin-left: auto;
    margin-right: auto;
    */
    width: 100%;
    height: 800px;
    max-width: 1600px;
}

.hero-container .slogan {
    float: right;
    margin-right: 5%;
    margin-top: 10%;
    font-family: fantasy;
    font-size: 30px;
    color: #00FEFE;
    text-align: right;
}

.about-container .photo {
    border-radius: 25px;
    width: 200px;
    margin-left: 15px;
    float: right;
}

.about-container p {
    font-size: 18px;
}

.skills-container .skills-container-images {
    display: block;
    width: 100%;
    text-align: center;
}

.skills-container .skills-container-images figure {
    width: 16%;
    display: inline-block;
    margin-bottom: 2rem;
}

.skills-container .skills-container-images figcaption {
    margin-top: 1rem;
}

.skills-container .skills-container-images figure:hover figcaption {
    color: blue;
}

.projects-container {
    display: block;
}

.projects-container .projects-item {
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
    border-bottom: 1px solid #eee;
}

.projects-container .projects-column {
    display: inline-block;
    width: 48%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 1rem;
    vertical-align: top;
}

.projects-container .projects-column img {
    width: 100%
}

.projects-container .projects-description {
    padding-left: 1rem;
    padding-right: 1rem;
}

.projects-container .projects-description ul {
    margin-top: 1rem;
    width: 100%;
    display: block;
}

.projects-container .projects-description li {
    margin-top: 1rem;
    width: auto;
    display: inline-block;
    border: 1px solid blue;
    padding: 0.5rem;
}


/* -------------------------------------
Footer styles (Main Module)
*/

footer {
    text-align: center;
    padding-bottom: 20px;
}

footer i {
    font-size: 2.5rem;
}

footer h4 {
    margin-top: 25px;
    font-family: fantasy;
    color: blue;
    padding-top: 15px;
    bottom: 0;
    /*    text-shadow: 0px 0px 22px rgba(0, 0, 0, 1);*/
    /*    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
    /*
    text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    */
}

footer ul li {
    list-style-type: none;
    display: inline-block;
    padding-top: 10px;
}

footer li a {
    color: blue;
    padding-left: 10px;
    padding-right: 10px;
}


/* -------------------------------------
Responsive styles
*/


/*large laptop*/

@media only screen and (max-width: 1600px) {
    body {
        /*        color: pink;*/
    }
    .hero-container {
        height: 600px;
    }
    .hero-container .slogan {
        margin-top: 5%;
        font-size: 25px;
    }
}


/*ipad lanscape / small laptop*/

@media only screen and (max-width: 1024px) {
    body {
        /*        color: blue;*/
    }
    .hero-container {
        height: 400px;
    }
    .hero-container .slogan {
        margin-top: 5%;
        font-size: 25px;
    }
}


/*ipad potrait*/

@media only screen and (max-width: 768px) {
    body {
        /*        color: red;*/
    }
    body {
        font-size: 12px;
    }
    .hero-container {
        height: 250px;
    }
    .hero-container .slogan {
        margin-top: 3%;
        font-size: 20px;
    }
    header,
    section,
    footer {
        width: 95%;
    }
    header {
        text-align: center;
    }
    header h1 {
        padding-top: 2rem;
        font-size: 1.5rem;
        display: block;
    }
    header nav {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        width: 100%;
        float: none;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 15px;
    }
    .about-container p {
        font-size: 15px;
    }
    .skills-container .skills-container-images figure {
        width: 25%;
    }
    .projects-container .projects-column {
        display: block;
        width: 100%;
    }
    .projects-container .projects-column img {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    footer i {
        font-size: 2.5rem;
    }
}


/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    body {
        /*        color: green;*/
    }
    h3,
    h4 {
        text-align: center;
    }
    .hero-container {
        height: 180px;
    }
    .projects-container .projects-description ul {
        text-align: center;
    }
    .hero-container .slogan {
        margin-top: 5%;
        font-size: 15px;
    }
    .about-container .photo {
        width: 45%;
        margin-left: auto;
        float: none;
        display: block;
        margin-bottom: 1rem;
        margin-right: auto;
    }
    .skills-container .skills-container-images figure {
        width: 48%;
    }
}


/*iPhone portrait*/

@media only screen and (max-width: 320px) {
    body {
        /*        color: purple;*/
    }
}
