* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* -------------------------------------
General styles */

body {}


/* -------------------------------------
Header styles (Main Module)
*/

header {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    display: inline-block;
    width: auto;
    font-family: cursive;
    font-size: 1.5rem;
    vertical-align: middle;
}

header nav {
    display: inline-block;
    float: right;
    width: auto;
    vertical-align: middle;
}

header nav ul {
    display: block;
    width: auto;
}

header nav ul li {
    display: inline-block;
    padding: 1rem;
    width: auto;
}

header nav ul li a {
    color: red;
    text-decoration: none;
}

header nav ul li a:hover {
    color: blue;
}


/* -------------------------------------
Content styles (Main Module)
*/

.hero-container {
    background: rgba(0, 0, 0, 0) url("../images/hero-image.jpg") no-repeat center right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: right;
    width: 100%;
    height: 600px;
}

.hero-container .slogan {
    float: right;
    margin-right: 2rem;
}

.photo {
    border-radius: 25px;
    height: 300px;
}


/* -------------------------------------
Footer styles (Main Module)
*/


/* -------------------------------------
Responsive styles
*/
